:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --stronger-cyan: hsl(172, 69%, 38%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
  background-color: var(--light-grayish-cyan);
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

/* STYLES FOR THE HEAD SECTION */
.heading--1 {
  font-size: x-large;
  color: var(--dark-grayish-cyan);
  letter-spacing: 1rem;
  text-transform: uppercase;
}

/* STYLES FOR THE MAIN SECTION */
#pass-main {
  width: 70vw;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: 0 1rem 3rem -1rem var(--dark-grayish-cyan);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.bill__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bill {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.5rem;
  position: relative;
}

.label {
  font-size: 1.5rem;
  color: var(--grayish-cyan);
  display: flex;
  justify-content: space-between;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  animation: blink 0.5s linear 3;
  color: red;
}

.input,
.input::placeholder,
.input:placeholder-shown {
  font-family: "Space Mono", monospace;
  padding: 1.5rem;
}

.input {
  font-size: 2.3rem;
  appearance: none;
  border: none;
  cursor: pointer;
  caret-color: var(--grayish-cyan);
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  border-radius: 1rem;
  text-align: right;
}

.input::placeholder {
  padding: 0;
  font-size: 2rem;
  color: var(--light-grayish-cyan);
}

.input:focus {
  font-size: 2.3rem;
  outline: none;
  color: var(--very-dark-cyan);
}

/* SVGs STYLES */

.svg {
  height: 1.3rem;
  width: 1rem;
}

.svg--pos {
  position: absolute;
  top: 4.5rem;
  left: 2rem;
}

/* END */

/* STYLES FOR THE SELECT TIP SECTION */
.tip-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tip {
  width: 100%;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.tip--btn {
  position: relative;
}

.tip--percent {
  font-size: 2.3rem;
  padding: 1rem 3rem;
  display: block;
  text-align: center;
  border-radius: 0.5rem;
  color: var(--light-grayish-cyan);
  background-color: var(--very-dark-cyan);
}

.tip--custom {
  font-family: "Space Mono", monospace;
  font-size: 2.3rem;
  padding: 0.5rem;
  text-align: right;
  outline: none;
  border: none;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.tip--custom::placeholder {
  color: var(--dark-grayish-cyan);
}

.tip--custom:focus {
  color: var(--very-dark-cyan);
  text-align: right;
}

.tip--input {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.tip--input:checked ~ .tip--percent {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

/* STYLES FOR PEOPLE MINI-SECTION */
.people {
  position: relative;
}

.people {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 0.5rem;
}
/* END */

/* STYLES FOR THE AMOUNT SECTION */

.amount {
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--very-dark-cyan);

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}

.amount__box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.amount__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount--heading {
  font-size: 1.5rem;
  color: var(--light-grayish-cyan);
}

.amount--text {
  font-size: 1.3rem;
  color: var(--grayish-cyan);
}

.amount--cash {
  color: var(--strong-cyan);
}

.amount--cash img {
  fill: var(--strong-cyan) !important;
}

.amount--cash span {
  font-size: 3.5rem;
}

/* END */

/* THE BUTTON SECTION */
.btn {
  font-family: inherit;
  font-size: 2rem;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.btn--reset {
  text-transform: uppercase;
  color: var(--dark-grayish-cyan);
  background-color: rgba(7, 36, 38, 0.4);
  transition: all 0.2s;
}

.btn--reset:active,
.btn--reset:hover {
  color: var(--white);
}

/* END */

/* THE ATTRIBUTION STYLES */
.attribution {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: var(--medium-gray);
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.2s;
}

.attribution a:hover {
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* END */

/* MEDIA QUERIES */

@media screen and (max-width: 40em) {
  .container {
    height: max-content;
    gap: 4rem;
  }

  #pass-main {
    width: 100vw;
    padding: 2rem;
    border-radius: 1rem;
  }

  .amount__box {
    gap: 2rem;
  }

  .btn--reset {
    text-transform: uppercase;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    transition: all 0.2s;
  }

  .btn--reset:active,
  .btn--reset:hover {
    color: var(--white);
    background-color: var(--stronger-cyan);
  }
}
